.counter 
{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 
{
    color: rgb(0, 0, 0);
    font-size: 60px;

}
button 
{
    width: 30px;
    height: 30px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.inc 
{
    margin-right: 20px;
    background-color:blue

}
.dec 
{
    background-color: rgb(49, 157, 58);
}
